gameserver/data/item_fake_appearance.dtd

<!ELEMENT list (item)+>
<!ATTLIST list
        xmlns CDATA #FIXED ''
        enabled NMTOKEN #REQUIRED>

<!ELEMENT item (display)+>
<!ATTLIST item
        xmlns CDATA #FIXED ''
        itemId CDATA #REQUIRED>

<!ELEMENT display EMPTY>
<!ATTLIST display
        xmlns CDATA #FIXED ''
        itemId CDATA #REQUIRED>
